
@{
    ViewBag.Title = "Eaxm";
}
<html>
<body>
    <p>姓名:郭旻臻</p>
    <p>學號:410928076</p>
    <p>喜歡的水果: </p>
    <ol>
        <li>蘋果</li>
        <li>香蕉</li>
        <li>荔枝</li>
        <li>鳳梨</li>
        <li>西瓜</li>
    </ol>
</body>
</html>

